<!DOCTYPE html>
<html>
  <head>
    <title>
      Hello, World! Welcome to my MicroBlog
    </title>
    <link href="stylesheets/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>

  <ul>
    <li>sign in/out
    <li>edit their account details
    <li>delete their account
    <li>follow other users
    <li>post micro­blogs (posts with less than 150 characters)
    <li>see a profile page with all of their account details and micro­blog posts to date
    <li>visit other users’ profile pages
    <li>see a list of users you follow
    <li>see a page with the 10 most recent posts (the “feed”)
    </li>
  </ul>

  </body>
</html>
