<!-- show all posts -->
<!DOCTYPE html>
<html>
  <head>
    <title>
      Hello, World! Welcome to my MicroBlog
    </title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
	<!-- should I use a helper method here? I dont really understand how they work. -->
	<% @posts.each do |post| %>
	  <h3><%= post.post_title %></h3>
	  <p><%= post.post %></p>
	<% end %>


  </body>
</html>
