<!-- show all posts -->
<!DOCTYPE html>
<html>
  <head>
    <title>
      Hello, World! Welcome to my MicroBlog
    </title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
	<% @posts.each do |post| %>
		<p><% puts post %></p>
	<% end %> -->
  </body>
</html>
