<!-- show all posts -->
<!DOCTYPE html>
<html>
  <head>
    <title>
      Hello, World! Welcome to my MicroBlog
    </title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
<% @posts_title.each do |post| %>
<p><% puts posts %></p>
<% end %> -->
  </body>
</html>
