<!DOCTYPE html>
<!-- as time allows, create a layout.erb file which contains info and links that should appear on every page. -->
<html>
  <head>
    <title>
      Hello, World! Welcome to my MicroBlog
    </title>
    <link href="stylesheets/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  <h2>My Profile</h2>
  


  
    </form>
   <h2>Sign out</h2>
   <form method="GET" action="/signout">
      <input type="submit">
      </form>

  </body>
</html>
