<!DOCTYPE html>
<html>
  <head>
    <title>
      Hello, World! Welcome to my MicroBlog
    </title>
    <link href="stylesheets/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  <h2>Hello</h2>
  <ul>
     <li><a href="/profile">View/edit/delete account details and see my followers and micro­blog posts to date</a></li>
<!-- add my posts to profile table -->
    <li><a href="">Meet and follow other users</a></li>
    <li><a href="/posts">Create/View Posts</a></li>
    <li><a href="/new">The Feed: 10 most recent posts</a></li>
  </ul>


    </form>
   <h2>Sign out</h2>
   <form method="GET" action="/signout">
      <input type="submit">
      </form>

  </body>
</html>
